<div id="cabecalho" class="logo-centro ">

    <div class="atalhos-mobile visible-phone fundo-secundario borda-principal">
        <ul>
            <li>
                <a href="https://www.vapestorebrasil.com/" class="icon-home"> </a>
            </li>
            <li class="fundo-principal">
                <a href="https://www.vapestorebrasil.com/carrinho/index" class="icon-shopping-cart"> </a>
            </li>
            <li>
                <a href="https://www.vapestorebrasil.com/conta/index" class="icon-user"> </a>
            </li>
            <li class="vazia"><span>&nbsp;</span></li>
        </ul>
    </div>

    <div class="conteiner">
        <div class="row-fluid">
            <div class="conteudo-topo span3 hidden-phone">
                <div class="superior row-fluid">
                    <div class="span12">


                        <a href="https://www.vapestorebrasil.com/conta/login" class="bem-vindo cor-secundaria">
                    Bem-vindo, <span class="cor-principal">identifique-se</span> para fazer pedidos
                  </a>


                    </div>
                </div>
                <div class="inferior row-fluid">
                    <div class="span12">

                        <div class="busca borda-alpha">
                            <form id="form-buscar" action="/buscar" method="get">
                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="auto-complete" type="text" name="q" placeholder="O que você procura?" value="" autocomplete="off" class="ui-autocomplete-input">
                                <button class="botao botao-busca icon-search fundo-secundario"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span6">
                <h1 class="logo cor-secundaria">
                    <a href="https://www.vapestorebrasil.com/" title="Vape Store Brasil">

                        <img src="https://cdn.awsli.com.br/400x300/1561/1561103/logo/dea74f1fb4.png" alt="Vape Store Brasil">

                    </a>
                </h1>
            </div>

            <div class="conteudo-topo span3 hidden-phone">
                <div class="superior row-fluid">
                    <div class="span12">

                        <ul class="acoes-conta">

                            <li>
                                <i class="icon-list fundo-principal"></i>
                                <a href="https://www.vapestorebrasil.com/conta/pedido/listar" class="cor-secundaria">Meus Pedidos</a>
                            </li>


                            <li>
                                <i class="icon-user fundo-principal"></i>
                                <a href="https://www.vapestorebrasil.com/conta/index" class="cor-secundaria">Minha Conta</a>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="inferior row-fluid">
                    <div class="span12">

                        <div class="carrinho vazio">

                            <a href="https://www.vapestorebrasil.com/carrinho/index">
                                <i class="icon-shopping-cart fundo-principal"></i>
                                <strong class="qtd-carrinho titulo cor-secundaria" style="display: none;">0</strong>
                                <span style="display: none;">
          
            <b class="titulo cor-secundaria"><span>Meu Carrinho</span></b>

                                <span class="cor-secundaria">Produto adicionado</span>
                                </span>

                                <span class="titulo cor-secundaria vazio-text">Carrinho vazio</span>

                            </a>


                            <div class="carrinho-interno-ajax">



                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="conteudo-topo visible-phone">

            <div class="span12 busca-mobile">
                <a href="javascript:;" class="atalho-menu visible-phone icon-th botao principal"> </a>

                <div class="busca borda-alpha">
                    <form id="form-buscar" action="/buscar" method="get">
                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="text" name="q" placeholder="Digite o que você procura" value="" class="ui-autocomplete-input" autocomplete="off">
                        <button class="botao botao-busca icon-search fundo-secundario"></button>
                    </form>
                </div>
            </div>

        </div>












        <div class="menu superior">
            <ul class="nivel-um">






                <li class="categoria-marcas com-filho borda-principal">
                    <a href="javascript:;" title="Marcas">
                        <strong class="titulo cor-secundaria">Marcas</strong>
                        <i class="icon-chevron-down fundo-secundario"></i>
                    </a>
                    <ul class="nivel-dois borda-alpha colunas-1">

                        <li class="categoria-marca-4friends-juices">
                            <a href="/marca/4friends-juices.html" title="4Friends Juices">
                4Friends Juices <span class="count">(7)</span>
              </a>
                        </li>

                        <li class="categoria-marca-br-liquids">
                            <a href="/marca/br-liquids.html" title="Br Liquids">
                Br Liquids <span class="count">(5)</span>
              </a>
                        </li>

                        <li class="categoria-marca-caravela-liquids">
                            <a href="/marca/caravela-liquids.html" title="Caravela Liquids">
                Caravela Liquids <span class="count">(9)</span>
              </a>
                        </li>

                        <li class="categoria-marca-daddys-juices">
                            <a href="/marca/daddys-juices.html" title="Daddy's Juices">
                Daddy's Juices <span class="count">(5)</span>
              </a>
                        </li>

                        <li class="categoria-marca-firefly-juices">
                            <a href="/marca/firefly-juices.html" title="Firefly Juices">
                Firefly Juices <span class="count">(4)</span>
              </a>
                        </li>

                        <li class="categoria-marca-iwodevape">
                            <a href="/marca/iwodevape.html" title="Iwodevape">
                Iwodevape <span class="count">(5)</span>
              </a>
                        </li>

                        <li class="categoria-marca-monster-juices">
                            <a href="/marca/monster-juices.html" title="Monster Juices">
                Monster Juices <span class="count">(4)</span>
              </a>
                        </li>

                        <li class="categoria-marca-pilot">
                            <a href="/marca/pilot.html" title="Pilot">
                Pilot <span class="count">(2)</span>
              </a>
                        </li>

                        <li class="categoria-marca-plato">
                            <a href="/marca/plato.html" title="Platô">
                Platô <span class="count">(1)</span>
              </a>
                        </li>

                        <li class="categoria-marca-smok">
                            <a href="/marca/smok.html" title="Smok">
                Smok <span class="count">(1)</span>
              </a>
                        </li>

                        <li class="categoria-marca-tesla-cigs">
                            <a href="/marca/tesla-cigs.html" title="Tesla Cigs">
                Tesla Cigs <span class="count">(1)</span>
              </a>
                        </li>

                        <li class="categoria-marca-ud">
                            <a href="/marca/ud.html" title="UD">
                UD <span class="count">(3)</span>
              </a>
                        </li>

                        <li class="categoria-marca-vaporesso">
                            <a href="/marca/vaporesso.html" title="Vaporesso">
                Vaporesso <span class="count">(4)</span>
              </a>
                        </li>

                        <li class="categoria-marca-voopoo">
                            <a href="/marca/voopoo.html" title="Voopoo">
                Voopoo <span class="count">(1)</span>
              </a>
                        </li>

                        <li class="categoria-marca-wotofo">
                            <a href="/marca/wotofo.html" title="Wotofo">
                Wotofo <span class="count">(1)</span>
              </a>
                        </li>

                    </ul>
                </li>




                <li class="categoria-id-5078884  borda-principal">
                    <a href="https://www.vapestorebrasil.com/mods" title="Mods">
                        <strong class="titulo cor-secundaria">Mods</strong>

                    </a>

                </li>

                <li class="categoria-id-5078911  borda-principal">
                    <a href="https://www.vapestorebrasil.com/pods" title="Pods">
                        <strong class="titulo cor-secundaria">Pods</strong>

                    </a>

                </li>

                <li class="categoria-id-5078972  borda-principal">
                    <a href="https://www.vapestorebrasil.com/juices-freebase" title="Juices Freebase">
                        <strong class="titulo cor-secundaria">Juices Freebase</strong>

                    </a>

                </li>

                <li class="categoria-id-5079003  borda-principal">
                    <a href="https://www.vapestorebrasil.com/juices-nicsalt" title="Juices Nicsalt">
                        <strong class="titulo cor-secundaria">Juices Nicsalt</strong>

                    </a>

                </li>

                <li class="categoria-id-5081515  borda-principal">
                    <a href="https://www.vapestorebrasil.com/fios-e-coils" title="Fios e Coils">
                        <strong class="titulo cor-secundaria">Fios e Coils</strong>

                    </a>

                </li>

                <li class="categoria-id-5081509  borda-principal">
                    <a href="https://www.vapestorebrasil.com/algodoes" title="Algodões">
                        <strong class="titulo cor-secundaria">Algodões</strong>

                    </a>

                </li>

                <li class="categoria-id-5079041 com-filho borda-principal">
                    <a href="https://www.vapestorebrasil.com/ferramentas" title="Ferramentas">
                        <strong class="titulo cor-secundaria">Ferramentas</strong>

                        <i class="icon-chevron-down fundo-secundario"></i>

                    </a>

                    <ul class="nivel-dois borda-alpha">


                        <li class="categoria-id-5079065 ">
                            <a href="https://www.vapestorebrasil.com/acessorios" title="Acessórios">
        
        Acessórios
      </a>

                        </li>


                    </ul>

                </li>

                <li class="categoria-id-5081552  borda-principal">
                    <a href="https://www.vapestorebrasil.com/vidros-de-reposicao" title="Vidros">
                        <strong class="titulo cor-secundaria">Vidros</strong>

                    </a>

                </li>

            </ul>
        </div>
    </div>
    <span id="delimitadorBarra"></span>
</div>