<div class="barra-inicial fundo-secundario">
    <div class="conteiner">
      <div class="row-fluid">
        <div class="lista-redes span3 hidden-phone">        
            <ul>          
                <li>
                  <a href="https://instagram.com/vapestorebrasil" target="_blank"><i class="icon-instagram"></i></a>
                </li>                          
            </ul>         
        </div>
        <div class="canais-contato span9">
          <ul>
            <li class="hidden-phone">
              <a href="#modalContato" data-toggle="modal" data-target="#modalContato">
                <i class="icon-comment"></i>
                Fale Conosco
              </a>
            </li>                      
              <li class="tel-whatsapp">
                <span>
                  <i class="fa fa-whatsapp"></i>Whatsapp: (81) 99112-5353
                </span>
              </li>                       
          </ul>
        </div>
      </div>
    </div>
  </div>