.conteiner-principal {
    .secao-banners {
        margin-top: 175px;
    }
    .conteiner {
        padding: 0px 20px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    }
}

.flexslider {
    border: none;
    border-radius: 0;
}